div.containerSignIn{
 	width: 450px;
	height: 550px;
	-webkit-align-self: center;
	align-self: center;
	
}

div.formSignIn {
	width: 420px;
	height: 500px;
	background-color: #eeeeec;
	font-family: serif;
    margin: auto;
  	position: fixed;
  	left:0;
  	right: 0;
  	top: 0;
 	bottom: 0;
 	border: 2px solid #80D3FF;
 	border-radius: 5px;
    padding: 10px;
    box-shadow: 5px 10px 18px #888888;



}

div.h1{
	height: 60px;
	-webkit-align-self: center;
	align-self: center;
	-webkit-align-items: center;
	align-items: center;
	text-align: center;
	background-color: #80D3FF;
	border-radius: 5px;
}

hr {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(128,211,255), rgba(0,0,0,0));
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(128,211,255), rgba(0,0,0,0));
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(128,211,255), rgba(0,0,0,0));
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(128,211,255), rgba(0,0,0,0));
}

.input {
	width: 230px;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 20px;
	margin-right: 20px;


	
	
}

input[type=text], [type="password"],  textarea {
	
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 10px 0px 10px 10px;
  
  border: 1px solid #DDDDDD;
  border-bottom-color: #80D3FF;
}
input[type="password"], textarea{

  
  border: 1px solid #DDDDDD;
  border-bottom-color: #80D3FF;
}
 
input[type=text]:focus, [type="password"]:focus, textarea:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  padding: 20px 0px 20px 20px;
  
  border: 1px solid rgba(81, 203, 238, 1);
}

h1 {
	margin:auto;
    line-height:51px;
    vertical-align:middle;
 	color: #272a35;
	text-shadow: 2px 2px #729fcf;

}

li {
	list-style-type: none;
	float: right;
	font-family: "Times New Roman", Times, serif;
	
	color: black;
	
}



button.signIn {
	margin-right: 20px;
	align-self: center;
	align-items: center;
	align-content: center;
	border-width: 2px;
	font-weight:bolder;
	border-color: #80D4EB;
	background-color: #ffffff;
	
}